# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor / IDE
*.swp
*~
.idea/
.vscode/

# Build / local
node_modules/
*.log
.lldbinit*

# Optional local scratch
*.tmp
*.bak

# 64TCOM ARM64 generated image / Mach-O outputs (recreated by SAVE-* / TCOM)
64TCOMARM64/tcomarm64
64TCOMARM64/tcomarm64.bin
64TCOMARM64/tcomarm64.c
64TCOMARM64/tcomarm64.map
64TCOMARM64/tcomarm64-build.sh
64TCOMARM64/print
64TCOMARM64/print.bin
64TCOMARM64/print.c
64TCOMARM64/print-build.sh
64TCOMARM64/hello
64TCOMARM64/hello.bin
64TCOMARM64/hello.c
64TCOMARM64/hello-build.sh
64TCOMARM64/*.bin
