# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor / IDE
*.swp
*~
.idea/
.vscode/

# Build / local
node_modules/
*.log
.lldbinit*

# Optional local scratch
*.tmp
*.bak

# 64TCOM ARM64 generated image / Mach-O outputs (recreated by SAVE-* / TCOM)
64TCOMARM64/tcomarm64
64TCOMARM64/tcomarm64.bin
64TCOMARM64/tcomarm64.c
64TCOMARM64/tcomarm64.map
64TCOMARM64/tcomarm64-build.sh
64TCOMARM64/print
64TCOMARM64/print.bin
64TCOMARM64/print.c
64TCOMARM64/print-build.sh
64TCOMARM64/hello
64TCOMARM64/hello.bin
64TCOMARM64/hello.c
64TCOMARM64/hello-build.sh
64TCOMARM64/samples/print
64TCOMARM64/samples/print.bin
64TCOMARM64/samples/print.c
64TCOMARM64/samples/print-build.sh
64TCOMARM64/samples/hello
64TCOMARM64/samples/hello.bin
64TCOMARM64/samples/hello.c
64TCOMARM64/samples/hello-build.sh
64TCOMARM64/samples/args
64TCOMARM64/samples/args.bin
64TCOMARM64/samples/args.c
64TCOMARM64/samples/args-build.sh
64TCOMARM64/samples/add
64TCOMARM64/samples/add.bin
64TCOMARM64/samples/add.c
64TCOMARM64/samples/add-build.sh
64TCOMARM64/samples/multi
64TCOMARM64/samples/multi.bin
64TCOMARM64/samples/multi.c
64TCOMARM64/samples/multi-build.sh
64TCOMARM64/*.bin
64TCOMARM64/samples/*.bin
